:root {
    --primary-color: hsl(0 0 10)
    --dark-color: hsl(0 0 5)
    --ligth-color: hsl(0 0 15)
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: var(--primary-color);
    height: 6vh;
}